/* Váriaveis de tema global  */
:root {
    --primary: #4f9cf9;
    --dark: #0a0f1a;
    --text: #e2e8f4;
    --muted: #7a859e;
    --card-bg: #11141b;
}

* { box-sizing: border-box; margin: 0; padding: 0;}
body { font-family: 'Segoe UI', sans-serif; background: var(--dark); color: var(--text);}

/* Navbar */

.navbar {
    display: flex; justify-content: space-between; align-items: center;
    padding: 1rem 2rem; position: sticky; top: 0;
    background: rgba(10,15,26,0.95); backdrop-filter: blur(10px);
}
.nav-links { display: flex; gap: 2rem; list-style: none; }
.nav-links a { color: var(--muted); text-decoration: none; transition: color .2s; }
.nav-links a:hover { color: var(--primary); }
.menu-btn { display: none; background: none;    border: none; font-size: 1.5rem; cursor: pointer; color: var(--text);}



